@import url('https://fonts.googleapis.com/css?family=Playball|Lato');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
@import url('https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css');

$theme_color : #1fb4cf;
$theme_color_1 : #1892a8;
$theme_color_2 : #0e5e6c;
$theme_color_3 : #10a0ba;
$bg_white : #ffffff;
$color_1 : #404040;

$text_white : #ffffff;
$text_dark : #2C3E50;
$text_font : 'Lato', sans-serif;;

$logo_background : #3f8693;
$logo_font : 'Playball', cursive;
$logo_font_size : 30px;
$logo_font_weight : 700;

$bg_1 : #3498DB;
$bg_2 : #18BC9C;
$bg_3 : #F39C12;
$bg_4 : #E74C3C;
$bg_5 : #1fb4cf;
$bg_6 : #3f8693;
$bg_7 : #E32636;
$bg_8 : #3B3B6D;
$bg_9 : #008000;
$bg_10 : #3B444B;
$bg_11 : #F7F7F7;